* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

header > :not(:last-child) {
    margin-right: 20px;
}

header > div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > div > a {
    margin: 0 20px;
}

h1 {
    margin: 50px 20px;
    text-align: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

table {
    margin-bottom: 20px;
    min-width: 400px;
    border-collapse: collapse;
}

table, th, td { border: 1px solid silver; }

th, td {
    padding: 10px 20px;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

form > button {
    margin-top: 30px;
}

.form-inline {
    width: auto;
    display: inline-block;
}

.form-inline :last-child {
    margin: 0;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 5px;
}

.form-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form-checkbox-container > label,
.form-checkbox-container > input {
    margin: 0;
    padding: 0 5px;
    cursor: pointer;
}

.error {
    margin: 2px 0 10px;
    font-size: 13px;
    color: red;
}
