<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<header>
    <a th:href="@{/}"><button type="button">На главную</button></a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}"><button type="button">Администрирование</button></a>

    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/user}" sec:authentication="principal.username"></a>
        <form class="form-inline" th:method="post" th:action="@{/logout}">
            <button type="submit">Выйти</button>
        </form>
    </div>

    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
        <button type="submit">Войти</button>
    </a>
</header>

<h1>Информация об аккаунте</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Почта</th>
        <th>Роль</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRole()} ? ${user.getRole().name()} : 'null'"></td>
        <td th:text="${user.isEnabled()} ? 'Активен' : 'Забанен'"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
