<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>

    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<header>
    <a th:href="@{/}"><button type="button">На главную</button></a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}"><button type="button">Администрирование</button></a>

    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/user}" sec:authentication="principal.username"></a>
        <form class="form-inline" th:method="post" th:action="@{/logout}">
            <button type="submit">Выйти</button>
        </form>
    </div>

    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
        <button type="submit">Войти</button>
    </a>
</header>

<h1>Регистрация пользователя</h1>

<form th:method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="name">Имя:</label>
    <input id="name" type="text" th:field="*{name}">
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="age">Возраст:</label>
    <input id="age" type="number" th:field="*{age}">
    <span class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>

    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}">
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="password">Пароль:</label>
    <input id="password" type="password" th:field="*{password}">
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <label for="role">Роль:</label>
    <select id="role" name="role" th:field="*{role}">
        <option th:value="null" th:text="null" selected></option>
        <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
    </select>
    <span class="error" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>

    <div class="form-checkbox-container">
        <label for="status">Активировать:</label>
        <input id="status" type="checkbox" th:field="*{enabled}">
    </div>

    <button type="submit">Регистрация</button>
</form>

</body>
</html>
